SpaceZIntelProject/LaunchVehicle/Connected Services/BackendServiceReference/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:11997/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Backend" />
  <xs:element name="AddSpaceCraft">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Backend" minOccurs="0" name="vehicle" nillable="true" type="q1:Vehicle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSpaceCraftResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSpaceCraftResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSpacecraft">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSpacecraftResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Backend" minOccurs="0" name="GetAllSpacecraftResult" nillable="true" type="q2:ArrayOfVehicle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckSpacecraftExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vehicleName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckSpacecraftExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckSpacecraftExistsResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddedSpacecraft">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddedSpacecraftResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Backend" minOccurs="0" name="GetAddedSpacecraftResult" nillable="true" type="q3:ArrayOfVehicle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSpacecraft">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vehicleName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSpacecraftResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllLaunchSequenceSpacecraft">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllLaunchSequenceSpacecraftResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Backend" minOccurs="0" name="GetAllLaunchSequenceSpacecraftResult" nillable="true" type="q4:ArrayOfVehicle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpacecraft">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vehicleName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpacecraftResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Backend" minOccurs="0" name="GetSpacecraftResult" nillable="true" type="q5:Vehicle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>