SpaceZIntelProject/LaunchVehicle/Connected Services/BackendServiceReference/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:11997/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Backend" />
  <xs:element name="AddSpaceCraft">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Backend" minOccurs="0" name="vehicle" nillable="true" type="q1:Vehicle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSpaceCraftResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddSpaceCraftResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSpacecraft">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSpacecraftResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Backend" minOccurs="0" name="GetAllSpacecraftResult" nillable="true" type="q2:ArrayOfVehicle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckSpacecraftExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vehicleName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="payloadName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckSpacecraftExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckSpacecraftExistsResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddedSpacecraft">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddedSpacecraftResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Backend" minOccurs="0" name="GetAddedSpacecraftResult" nillable="true" type="q3:ArrayOfVehicle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSpacecraft1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vehicleName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="column" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSpacecraft1Response">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSpacecraft2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vehicleName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="column1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="column2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSpacecraft2Response">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSpacecraft3">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vehicleName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="column1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="column2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="column3" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="value3" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSpacecraft3Response">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LaunchSpacecraft">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vehicleName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dsnDashboardName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LaunchSpacecraftResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOnlineSpacecraft">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOnlineSpacecraftResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Backend" minOccurs="0" name="GetAllOnlineSpacecraftResult" nillable="true" type="q4:ArrayOfVehicle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpacecraft">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vehicleName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpacecraftResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Backend" minOccurs="0" name="GetSpacecraftResult" nillable="true" type="q5:Vehicle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOnlinePayload">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOnlinePayloadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Backend" minOccurs="0" name="GetAllOnlinePayloadResult" nillable="true" type="q6:ArrayOfVehicle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTelemetryMap">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vehicleName" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Backend" minOccurs="0" name="telemetry" nillable="true" type="q7:Telemetry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTelemetryMapResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTelemetryOfVehicle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vehicleName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTelemetryOfVehicleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Backend" minOccurs="0" name="GetTelemetryOfVehicleResult" nillable="true" type="q8:Telemetry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestTelemetryOfVehicle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Backend" minOccurs="0" name="vehicle" nillable="true" type="q9:Vehicle" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestTelemetryOfVehicleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendCommandToVehicle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Backend" minOccurs="0" name="vehicle" nillable="true" type="q10:Vehicle" />
        <xs:element minOccurs="0" name="command" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendCommandToVehicleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectToBackend">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vehicleName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectToBackendResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveCommand">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Backend" minOccurs="0" name="vehicle" nillable="true" type="q11:Vehicle" />
        <xs:element minOccurs="0" name="command" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveCommandResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendCommand">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Backend" minOccurs="0" name="vehicle" nillable="true" type="q12:Vehicle" />
        <xs:element minOccurs="0" name="command" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendCommandResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>